*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation2 {
  from {
    transform: rotate(3590deg);
  }
  to {
    transform: rotate(0deg);
  }
}